.contact {
    width: 90%;
    padding-top: 10px;
    padding-left:50px;
}

.contact h1 {
    font-size: 36px;
    margin-bottom: 16px;
    color: #F6AE2D;
}

.contact-text {
    font-size: 18px;
    line-height: 1.6;
    max-width: 600px;
    margin-bottom: 48px;
    color: #7A7265;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.form-group label {
    margin-bottom: 8px;
    font-size: 16px;
    color: #94BFBE;
}

.form-group input,
.form-group textarea {
    padding: 12px 14px;
    font-size: 16px;
    border-radius: 8px;
    background-color: #480A34;
    color: #7A7265;
    border: 1px solid #003B36;
    font-family: inherit;
    
}

.form-group textarea {
    min-height: 120px;
    resize: vertical;
}

/* BUTTON */
.contact-form button {
    margin-top: 12px;
    padding: 14px;
    width: 100%;
    border: none;
    border-radius: 999px;
    background-color: #F6AE2D;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.contact-form button:hover {
    transform: translateY(-2px);
    opacity: 0.85;
}

/* PLACEHOLDER */
.form-group input::placeholder,
.form-group textarea::placeholder {
    color: #7A7265;   
    opacity: 1;       
}
/* Bu kısım form ve görseli yan yana diziyor */
.contact-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px; /* Aradaki boşluk */
}
.contact-left {
    flex: 1;
    max-width: 500px;
}

.contact-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.character-img {
    max-width: 50%;
    height: auto;
    
    animation: floating 3s ease-in-out infinite;
}
@media (max-width: 768px) {
    .contact-wrapper {
        flex-direction: column-reverse;
        text-align: center;
    }
    .contact-left {
        max-width: 100%;
    }
}
@keyframes floating {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0px); }
}
