.showcase {
    padding-top: 120px;
    padding-left: 32px;
    padding-right: 32px;
    width: 100%;
}


.showcase h1 {
    font-size: 42px;
    margin-bottom: 48px;
    color: #F6AE2D;
}

.showcase-section {
    margin-bottom: 80px;
}

.showcase-section h2 {
    font-size: 28px;
    margin-bottom: 24px;
    color: #94BFBE;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 32px;
}

.project-card {
    background-color: #480A34;
    padding: 16px;
    border-radius: 16px;
}

.project-card img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 12px;
}

.project-card iframe {
    width: 100%;
    height: 200px;
    border: none;
    border-radius: 12px;
    margin-bottom: 12px;
}

.project-card h3 {
    color: #F6AE2D;
    margin-bottom: 8px;
}

.project-card p {
    color: #7A7265;
    font-size: 15px;
    line-height: 1.5;
}

.text-only {
    background-color: transparent;
    border: 1px solid #003B36;
}
