.spell-text {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 24px;
}

.spell-text span {
    display: inline-block;
    opacity: 0;
    transform: scale(0.5);
    animation: spellReveal 0.6s forwards;
    color: #F6AE2D;
}
.spell-text span:hover {
    transform: scale(1.4) translateY(-8px); /* Harf büyür ve yukarı zıplar */
    text-shadow: 0 0 15px #F6AE2D, 0 0 30px #F6AE2D; /* Güçlü parlama */
    color: #CD533B;
}
@keyframes spellReveal {
    0% {
        opacity: 0;
        transform: scale(0.3);
        text-shadow: 0 0 0px #F6AE2D;
    }
    60% {
        opacity: 1;
        transform: scale(1.3);
        text-shadow: 0 0 20px #F6AE2D; /* Parlama efekti */
    }
    100% {
        opacity: 1;
        transform: scale(1);
        text-shadow: 0 0 5px rgba(246, 174, 45, 0.5);
        background: transparent;
    }
}