.games-section {
    padding-bottom: 140px;
}

/* GRID */
.games-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: 60px;
}

/* CARD */
.game-card {
    background: rgba(255, 255, 255, 0.03);
    border-radius: 20px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}


.game-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}


/* COVER IMAGE */
.game-cover {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 14px;
    margin-bottom: 20px;
    background-color: rgba(0,0,0,0.15);
}

/* TITLE */
.game-title {
    font-size: 22px;
    color: var(--h3-brown);
    margin-bottom: 12px;
}

/* DESCRIPTION */
.game-desc {
    font-size: 15px;
    color: var(--p-color);
    line-height: 1.6;
    margin-bottom: 18px;
}

/* TAGS */
.game-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.game-tags span {
    font-size: 13px;
    padding: 6px 12px;
    border-radius: 999px;
    background: rgba(255, 255, 255, 0.08);
    color: var(--p-color);
}

/* MOBILE */
@media (max-width: 600px) {
    .game-cover {
        height: 160px;
    }
}
@media (max-width: 1024px) {
    .games-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .games-grid {
        grid-template-columns: 1fr;
    }
}
